<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.blackmind.google_map">

    <application>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC3RLM3bgm9SRezFeaCC_7vcWJ19lnoUSI" />

        <activity
            android:name="cl.blackmind.google_map.MapGoogleActivity"
            android:label="Google Map">
        </activity>
    </application>
</manifest>
